---
layout: default
title: Home
---

{% include intro.html %}

{% for post in site.posts %}
<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="item-wrap fancybox">
  <div class="container_grid">
    <div class="column left">
      <div class="work-info" >
        
          <img class="img " src="{{ " /assets/img/projects/" | append: post.image }}">
        
      </div>
    </div>
    <div class="column right">
        <h2>{{ post.title }}</h2>
        <em>{{ post.date | date: "%b %d %Y" }}</em>
        <p></p>
        <p>{{ post.description }}</p>
    </div>
  </div>
</a>
{% endfor %}