---
layout: default
title: Home
---

{% include intro.html %}


<div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200"></div>

<section class="section site-portfolio">
  <div class="container">
    <div id="portfolio-grid" class="row no-gutter" data-aos="fade-down" data-aos-delay="00">
      {% for post in site.posts %}
      {% unless post.next %}
      <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
      {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
      <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
      {% endif %}
      {% endunless %}
      <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
        <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="item-wrap fancybox">
          <div class="work-info">
            <h3>{{ post.title }}</h3>
            <span>{{ post.date | date: "%b %d %Y" }}</span>
          </div>
          <img class="img-fluid" src="{{ " /assets/img/projects/" | append: post.image }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>