---
layout: default
title: Home
---

{% include intro.html %}

<section class="post-list">
  <div class="container">
    <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200"></div>
      {% for post in site.posts %}
        {% unless post.next %}
          <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
            <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
          {% endif %}
        {% endunless %}
        <article class="post-item">
          <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
          <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
          
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Boxed Water</h3>
                <span>Web</span>
              </div>
              <img class="img-fluid" src="assets/img/img_1.jpg">
            </a>
          </div>

        </article>
      {% endfor %}
    </div>
  </div>

</section>
