---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "main";

.container_grid {
  padding: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  font-weight: normal;
  content: "";
  display: table;
  clear: both;
  padding-bottom: 10px;
  border-radius: 10px;
}

.container_grid:hover{
  background:#f3f3f3;
  cursor: pointer;
}

.container_grid:hover img{
  transform: scale(1.05);
  transition: all ease-in;
}



.column {
  float: left;
  padding-left:15px;
  padding-right:15px;
}


.left{
  width:35%;
  
}

.right{
  width:65%;
}

.img{
  border-radius: 5%;
  background-position: center center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;  
}

.item {
    border: none;
    margin-bottom: 30px;  
  }
  
  .item .item-wrap {
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  .item .item-wrap:after {
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: .3s all ease-in-out;
  }
  
  .item .item-wrap img {
    transition: .3s transform ease;
    transform: scale(1);
    border-radius: 5%;
  }
  
  .item .item-wrap > .work-info {

    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 3;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    transition: .3s all ease;
    
    
  }
  
  .item .item-wrap > .work-info h3 {
    font-size: 22px;
    margin-bottom: 0;
  }
  
  .item .item-wrap > .work-info span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
  
  .item .item-wrap:hover {
    text-decoration: none;
    border-radius: 5%;
  }
  
  .item .item-wrap:hover img {
    transform: scale(1.00);
    border-radius: 5%;
  }
  
  .item .item-wrap:hover:after {
    opacity: .3;
    visibility: visible;
    border-radius: 5%;
  }
  
  .item .item-wrap:hover .work-info {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
    border-radius: 5%;
  }

